<br />
<div class="mapcontainer" [ngStyle]="mapBackground" data-toggle="collapse" data-target="#derp">
  <div class="square" id="square">
    <app-square *ngFor="let square of dndMap.squares; index as i" [squareScale]=square.squareScale [square]=square [squareIndex]=i [obstructionMode]=obstructionMode [inRangeSquares]=rangeSquares [movementMode]=movementMode [playerToMove]=playerToMove [_squareStyles]=squareBorderStyle (moveModeEvent)="receiveMoveMode($event)" (setRangeSquaresEvent)="receiveRangeSquares($event)" ></app-square>
  </div>
</div>

<h3><img class="img-fuild" src="assets/dnd.png"> Map Tool V1.0</h3>
<div class="navButtons">
  <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#mapSetup" aria-expanded="false" aria-controls="mapSetup">
Hide map setup
</button>
  <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#squareDetails" aria-expanded="false" aria-controls="squareDetails">
Hide square details
</button>
  <br>
</div>
<br><br>
<form [formGroup]="mapForm">
  <div class="form-group" id="mapSetup">
    <label class="center-block"><b>Map image:</b>  <a target="_blank" href="https://i.pinimg.com/736x/f1/b3/f5/f1b3f576513897781c67fe55252ed2a2--maps.jpg"> Testpicture</a>
          <input class="form-control" formControlName="imageUrl" placeholder="Enter url...">
      </label>
    <br>
    <button (click)="uploadImage()" class="btn btn-success">Select image</button><br><br>
    <label class="center-block"><b>Height/Width:</b>
      <input class="form-control" formControlName="heightwidth" type="number" min="5" max="25" (change)="setMapScale()" (click)="setMapScale()">
    </label>
    <br>
    <label class="center-block"><b>In-game square size (ft):</b>
      <input class="form-control" formControlName="feet" type="number" (change)="setMapScale()"  (click)="setMapScale()">
      </label>
    <br>
    <label class="center-block">Obstruct squares:
  <input type="checkbox" formControlName="obstructToggle" (change)="obstructSquares()">
  </label><br />
    <label class="center-block">Show grid:
<input type="checkbox" formControlName="gridToggle" (change)="hideGrid()">
</label>

    <br><br>
    <button (click)="saveMap()" class="btn btn-success">Save map</button>
    <button (click)="loadMap()" class="btn btn-success" data-toggle="modal" data-target="#loadModal">Load map</button>
  </div>
</form>

<div class="squaredetailcontainer" id="squareDetails">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Selecteer een square.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <app-square-detail (moveModeEvent)="receiveMoveMode($event)" (setRangeSquaresEvent)="receiveRangeSquares($event)" (setPlayerToMoveEvent)="receivePlayerToMove($event)"></app-square-detail>
</div>

<!-- Modal -->
<div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Select a map</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="mapsLoaded==true">
                    <span *ngFor="let id of allLoadedMapIds" [style.color]="" (click)="selectMap(id)">
                        {{id}}<br />
                    </span>
                    <br />
                    <span><B>You selected map: {{selectedMap}}</B></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="loadSelectedMap()" data-dismiss="modal">Load map</button>
            </div>
        </div>
    </div>
</div>
