.mapcontainer {
  border-width: 2px;
  border-style: solid;
  border-color: #021744;
  background-size: 100% 100%;
  width: 600px;
  height: 600px;
  float: left;
}

.square {
  display: inline-block;
  width: 100%;
  height: 100%;
  float: left;
}

.form-group {
  padding-left: 20px;
  float:left;
}

.squaredetailcontainer {
  padding-left: 20px;
  float:left;
}

.navButtons {
margin-left: 20px;
float:left;
}

button {
margin-right: 10px;
}
