
<br />
<div class="mapcontainer">
    <div class="square" id="square" [(ngStyle)]="squareStyles">
        <app-square *ngFor="let square of allSquares" [squareScale]=square.squareScale [square]=square></app-square>
    </div>

</div>

<form [formGroup]="mapForm">
  <div class="form-group">
    <label class="center-block">Height/Width:
      <input class="form-control" formControlName="heightwidth">
    </label>
    <label class="center-block">In-game square size (ft):
      <input class="form-control" formControlName="feet">
    </label>
<button (click)="setMapScale()" class="btn btn-success">Submit</button>
  </div>
</form>

<div class="squaredetailcontainer">
    <app-square-detail></app-square-detail>
</div>
