
.mapcontainer{
    border-width: 2px;
    border-style: solid;
    border-color: #021744;
    width: 600px;
    height: 600px;
}
.square{
    display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
}
