<div id='rowcontainer' class="row" [ngStyle]="rowStyles"><p>
  <div class="square" id="square">
      <app-square *ngFor="let square of rowSquares; index as i" [squareIndex]=i [squareHeightWidth]=square.squareHeightWidth [square]=square [obstructionMode]=obstructionMode [inRangeSquares]=_inRangeSquares [movementMode]=movementMode [playerToMove]=playerToMove [_squareBorderStyles]=squareBorderStyle (moveModeEvent)="receiveMoveMode($event)" (setRangeSquaresEvent)="receiveRangeSquares($event)" ></app-square>
  </div>
