<div id="squarecontainer" class="square noselect" [ngStyle]="squareStyles" (click)=selectSquare() (mousedown)="mouseDownSquare($event)" (mouseup)="mouseUpSquare()"   (mouseover)="mouseOverSquare()" (mouseout)="mouseOutSquare()" (contextmenu)="deselectAll()">

    <span class="squareTexts">
        <span class="coordinates" *ngIf="square.currentDistance!=9999">{{square.mapCoordinate}}<br></span>
        <div id="objectsInSquare" *ngIf="square.players.length!=0 && !square.hidden">
            <div id="playerContainer">
                <div class="playerDot" *ngFor="let player of square.players" [style.background-color]=player.color id="playerDot{{player.id}}">
                        <div class="playerZone" *ngFor="let zoneObject of player.zones; index as i" id="playerZone{{player.id}}{{i}}" [style.border-color]=player.color></div>
                </div>


            </div>
        </div>

        <div id="zonesInSquare" *ngIf="square.zones.length!=0 && !square.hidden">
            <div *ngFor="let zoneObject of square.zones; index as i">
                <div class="tileZone" *ngIf="zoneObject.radius!=0" id="tileZone{{square.mapSquareId}}{{i}}"></div>
                <mdb-icon *ngIf="zoneObject.radius==0" class="flag" icon="flag"></mdb-icon>
            </div>

        </div>

        <span class="distance" *ngIf="square.currentDistance!=9999">{{square.currentDistance}}</span>
        <span class="distanceMouseOver" *ngIf="distance!=9999 && !square.inRange">{{distance}}</span>
    </span>

</div>
