<div id='squarecontainer' class="square noselect" [ngStyle]="squareStyles" (click)=selectSquare() (mousedown)="mouseDownSquare($event)" (mouseup)="mouseUpSquare()"   (mouseover)="mouseOverSquare()" (mouseout)="mouseOutSquare()" (contextmenu)="deselectAll()">
    <span *ngIf="rowIndexAsLetter=='A'" class="colNumber" >
        {{squareIndex+1}}
    </span>
    <span class="squareTexts">
        <span class="coordinates" *ngIf="square.currentDistance!=9999">{{square.mapCoordinate}}<br></span>
        <div id="objectsInSquare" *ngIf="square.players.length!=0">
            <div id="playerContainer">
                <div class="playerDot" *ngFor="let player of square.players" [style.background-color]=player.color id="playerDot{{player.id}}">
                    <div *ngIf="player.zoneLabel.length!=0">
                        <div class="playerZone" *ngFor="let label of player.zoneLabel" id="playerZone{{label}}"></div>
                    </div>
                </div>
                        

            </div>
        </div>
        <span class="distance" *ngIf="square.currentDistance!=9999">{{square.currentDistance}}</span>
    </span>

</div>
