/*:host{
    border-width: 2px;
    border-style: solid;
    width:100px;
    height: 100px;
}*/

.square{
    border-width: 1px;
    border-style:dotted;
    border-color: #a2a2a2;
    width:100px;
    height: 100px;
    display: inline-block;
    text-align: center;
}
