button {
  margin: 1px 0px 1px 0px;
}
.playerNameDetail{
    text-shadow: 0px 0px 2px black;
}
.squaredetail{
    font-size:1.4vw;
    position: relative;
    overflow-y: auto;
    height:100%;
    padding: 3px;
    /*border: solid 1px blue;*/
}
ul{
    margin: 0px;
    padding-left: 20px;
}
.links{
    color: #367DF3;
    cursor: pointer;
    text-decoration: underline;
}
mdb-icon{
    color: #367DF3;
    cursor: pointer;
}
