<div class="squaredetail" *ngIf="square">
    <span class="lead" style="font-weight:bold;">Tile Details: <span *ngIf="selectedSquares.length==1">{{square.mapCoordinate}}</span></span><br />

    <!-- <span *ngFor="let square of selectedSquares"> {{square.mapCoordinate}}... </span><br /> -->
    <span *ngIf="square.players.length!=0">
        <span *ngFor="let player of square.players">
            <span id="playerDetail{{player.id}}" class="playerNameDetail" [style.color]=player.color>{{player.name}}: </span> &nbsp;
            <img width="100" src="{{player.playerIconUrl}}" /><br />
            <ul>
                <li *ngIf="player.movementLeft % 1 == 0">
                    Move: {{player.movementLeft}} / {{player.movementAmount}}&nbsp; <span style="font-size:1vw;">({{player.pointsPerYard.toFixed(1)}} AP/yd)</span>
                </li>
                <li *ngIf="player.movementLeft % 1 != 0">
                    Move: {{player.movementLeft.toFixed(1)}} / {{player.movementAmount}}&nbsp; <span style="font-size:1vw;">({{player.pointsPerYard.toFixed(1)}} AP/yd)</span>
                </li>
                <li>
                    Att: {{player.attacksLeft}} / {{player.attacksPerRound}}&nbsp; <span style="font-size:1vw;">({{player.pointsPerAttack.toFixed(1)}} AP/Att)</span>
                </li>
                <li>
                    Spells: {{player.spellsLeft}} / {{player.spellsPerRound}}&nbsp; <span style="font-size:1vw;">({{player.pointsPerSpell.toFixed(1)}} AP/Sp)</span>
                </li>
                <li>
                    Action Points: {{player.actionPoints.toFixed(1)}}
                </li>
                <li>
                    Initiative: {{player.initiative}}
                </li>
                <li *ngFor="let zone of player.zones">
                    <span class="links" (click)="clickPlayerZone(zone, player)">
                        <mdb-icon *ngIf="zone.radius!=0" class="buttonIcon" icon="dot-circle-o"></mdb-icon>
                        <mdb-icon *ngIf="zone.radius==0"class="buttonIcon" icon="heartbeat"></mdb-icon> {{zone.label}}</span>:
                        <span *ngIf="zone.duration==-1">&#x221e; rnds</span>

                    <mdb-icon class="buttonIcon floatRight" icon="remove" (click)="removePlayerZone(zone, player)" alt="Remove Zone" title="Remove Zone"></mdb-icon> &nbsp;
                    <mdb-icon class="buttonIcon floatRight" icon="pencil"  (click)="setZoneValues(zone)" data-toggle="modal" data-target="#editZoneForm" alt="Edit Zone" title="Edit Zone"></mdb-icon>

                    <ul>
                        <li>
                            Duration:
                            <span *ngIf="zone.duration==-1">&#x221e; rnds</span>
                            <span *ngIf="zone.duration==1">{{zone.duration}} rnd </span>
                            <span *ngIf="zone.duration>1">{{zone.duration}} rnds </span>
                        </li>
                        <li *ngIf="zone.radius!=0">
                            Radius:
                            <span>{{zone.radius}} yards</span>
                        </li>
                    </ul>
                </li>
        </ul>
        </span>
    </span>
</div>


<!-- editZone Modal -->
<div class="modal fade" id="editZoneForm" tabindex="-1" role="dialog" aria-labelledby="editZoneLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Edit Zone:</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editZoneForm">
                    <div class="form-group" id="objectMap">
                        <label class="center-block">Zone label:
                            <input class="form-control" formControlName="zoneLabel" type="text" >
                        </label>
                        <br>

                        <label class="center-block">Zone radius in yards (0 = just stasis):
                            <input class="form-control" formControlName="zoneRadius" type="number">
                        </label>
                        <br>
                        <label class="center-block">Zone duration in rounds: (0 = permanent)
                            <input class="form-control" formControlName="zoneDuration" type="number">
                        </label>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="editZone()" data-dismiss="modal">Save Zone</button>
            </div>
        </div>
    </div>
</div>
