<div class="squaredetail" *ngIf="square">
    <span class="lead" style="font-weight:bold;">Tile Details: <span *ngIf="selectedSquares.length==1">{{square.mapCoordinate}}</span></span><br />

    <!-- <span *ngFor="let square of selectedSquares"> {{square.mapCoordinate}}... </span><br /> -->
    <span *ngIf="square.players.length!=0">
        <span *ngFor="let player of square.players" (click)="clickPlayer(player)">
            <span id="playerDetail{{player.id}}" class="playerNameDetail"[style.color]=player.color>{{player.name}}: </span> &nbsp;
            <img width="100" src="{{player.playerIconUrl}}" /><br />
            <ul>
                <li *ngIf="player.movementLeft % 1 == 0">
                    Move: {{player.movementLeft}} / {{player.movementAmount}}&nbsp; <span style="font-size:1vw;">({{player.pointsPerYard.toFixed(1)}} AP/yd)</span>
                </li>
                <li *ngIf="player.movementLeft % 1 != 0">
                    Move: {{player.movementLeft.toFixed(1)}} / {{player.movementAmount}}&nbsp; <span style="font-size:1vw;">({{player.pointsPerYard.toFixed(1)}} AP/yd)</span>
                </li>
                <li>
                    Att: {{player.attacksLeft}} / {{player.attacksPerRound}}&nbsp; <span style="font-size:1vw;">({{player.pointsPerAttack.toFixed(1)}} AP/Att)</span>
                </li>
                <li>
                    Spells: {{player.spellsLeft}} / {{player.spellsPerRound}}&nbsp; <span style="font-size:1vw;">({{player.pointsPerSpell.toFixed(1)}} AP/Sp)</span>
                </li>
                <li>
                    Action Points: {{player.actionPoints.toFixed(1)}}
                </li>
                <li>
                    Initiative: {{player.initiative}}
                </li>
        </ul>
        </span>
    </span>
</div>
